body{
    background-color: #FFFFFF;
}

.questions{
	width: 100%;
	text-align: center;
}

.row{
	margin:2% auto;
	display: flex;
  	flex-wrap: wrap;
  	width: 70%;
}

.col-xs-6{
	flex: 1 0 20%;
    margin:10px 0 0 10px;
    flex-grow: 1;
}

.select_answer_btn{
	margin-right: 20px;
	width:200px;
}

#progress-bar {
  position: relative;
  margin-top: 2%;
  margin-bottom: 5%;
  width: 100%;
  height: 30px;
  background-color: #ddd;
}

#bar {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #4CAF50;
}

#progress-label {
  text-align: center;
  line-height: 30px;
  color: white;
}

.error{
	color: red;
	font-weight: 700;
}